<%include header.ejs %>
<div class="main-bg-login">
<%= message %>
	<div class="container-fluid">
       	<div id="login">	
			<div class="login-wrapper" data-active="log">
				<div id="log">
					<div style="margin-top:20px">
	            		<h1 class="center darker">Creation d'un utilisateur</h1>
		            	<hr/>
					</div>
					<form role="form" id="user_create-form" class="form-horizontal" action="/user/create" method="post">
						<div class="row">
      						<div class="form-group relative">
	        	            	<div class="icon"><i class="icon20 i-user"></i></div>
		                	    <input class="form-control" type="text" name="email" id="user" placeholder="email" value="">
                       		</div><!-- End .control-group  -->
	               			<div class="form-group relative">
	                            <div class="icon"><i class="icon20 i-key"></i></div>
           	        			<input class="form-control" type="password" name="password" id="password" placeholder="Mot de passe" value="">                               
							</div><!-- End .control-group  -->
	               			<div class="form-group relative">
	                            <div class="icon"><i class="icon20 i-key"></i></div>
           	        			<input class="form-control" type="password" name="password_repeat" id="password" placeholder="Mot de passe" value="">                               
							</div><!-- End .control-group  -->
				            <div class="form-group relative">
                   				<button id="Btn" type="submit" class="btn btn-primary pull-right col-lg-5">Ajouter utilisateur</button>
	                        </div>
						</div><!-- End .row-fluid  -->
					</form>
				</div>
			</div>     
        </div>
    </div>

</div>
<%include footer.ejs %>
